@model IEnumerable<SimpleAccountSystem.Models.tblUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cCreateDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cCreateDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cAccount }) |
            @Html.ActionLink("Details", "Details", new { id=item.cAccount }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cAccount })
        </td>
    </tr>
}

</table>
