@model IEnumerable<SimpleSignupSystem.Controllers.tblSignupsController.IndexModel>

@{
    ViewBag.Title = "新達2020/9/25活動報名系統";
}

<h2>新達2020/9/25活動報名系統</h2>

@*<p>
        @Html.ActionLink("新增活動", "Create")
    </p>*@

<h3>活動列表</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TotalMixList[0].cItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMixList[0].JoinCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMixList[0].cActiveDt)
        </th>
        <th></th>
    </tr>
    @foreach (var item in model.TotalMixList[0])
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoinCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cActiveDt)
            </td>
            <td>
                @*@Html.ActionLink("編輯", "Edit", new { id = item.cItemID }) |*@
                @Html.ActionLink("詳細頁", "Details", new { cItemID = item.cItemID })
                @*@Html.ActionLink("刪除", "Delete", new { id = item.cItemID })*@
            </td>
        </tr>
    }
    @Html.Raw(@ViewBag.Message)
</table>

<h3 style="display:inline-block">人員清單</h3>
<form style="display:inline-block;">
    <input placeholder="  姓名 / 手機 ( 模糊查詢 )" name="Search" />
    <select>
        <option>
            全部
        </option>
        <option>
            排球
        </option>
        <option>
            羽球
        </option>
        <option>
            自行車
        </option>
    </select>
    <button>查詢</button>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cCreateDT)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cCreateDT)
            </td>
        </tr>
    }
    @Html.Raw(@ViewBag.Message)
</table>